In [6]:
import pandas as pd
import numpy as np
from collections import Counter

In [8]:
dataframe = pd.read_csv('error-4-6.csv')

In [9]:
dataframe

      Unnamed: 0    0
0              0  0.0
1              1  0.0
2              2  0.0
3              3  0.0
4              4  0.0
...          ...  ...
9995        9995  0.0
9996        9996  0.0
9997        9997  0.0
9998        9998  0.0
9999        9999  0.0

[10000 rows x 2 columns]

In [13]:
error = dataframe.iloc[:,-1]
error = round(error,2)

In [14]:
data = np.array(error)
len(data)

10000

In [15]:
Counter(data)

Counter({0.0: 9311,
         0.03: 299,
         0.07: 105,
         0.1: 93,
         0.13: 43,
         0.17: 31,
         0.2: 19,
         0.23: 9,
         0.27: 8,
         0.3: 6,
         0.33: 6,
         0.37: 5,
         0.43: 6,
         0.5: 6,
         0.57: 5,
         0.63: 2,
         0.67: 8,
         0.6: 1,
         0.53: 17,
         0.47: 15,
         0.4: 5})